 {%  extends 'main/base.html' %}

{% block content %}
    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
      <h1 class="display-4 fw-normal">Ты меняешь книгу "{{ book_name }}"</h1>
      <p class="fs-5 text-muted">Обменяй книгу в общежитие №6 МФТИ</p>
    </div>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-success">Добавить</button>
        <span>{{ error }}</span>
    </form>

    {% if img_obj %}
      <h3>Succesfully uploaded : {{img_obj.title}}</h3>
      <img src="{{ img_obj.image.url}}" alt="connect" style="max-height:300px">
    {% endif %}
 {% endblock %}