 {%  extends 'main/base.html' %}


 {% block content %}
    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
      <h1 class="display-4 fw-normal">Здесь любят книги</h1>
      <p class="fs-5 text-muted">Обменяй книгу в общежитие №6 МФТИ </p>
    </div>

     <div class="album py-5 bg-light">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
               {% for book in books %}
        <div class="col">
          <div class="card shadow-sm">
            <img class="bd-placeholder-img card-img-top" height="100%" width="100" src="/media/{{ book.img }}" role="img" aria-label="Placeholder: No image" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#55595c"></rect></img>

              <div class="card-body">
              <p class="card-text">{{ book.name }} <br>{{ book.writer}}</p>
              <div class="d-flex justify-content-between align-items-center">
                  <button type="submit" class="btn btn-sm btn-outline-secondary"
                          onclick=" window.location.href = '{% url 'add_book' book.id %}';"
                          data-book_id = "{{ book.id }} "
                  >Хочу</button>
                <small class="text-muted">{{ book.datetime.date}}</small>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
 {% endblock%}
